<h1>Register</h1>

<form action="/users" method="POST">
   <input type="text" name="user[first_name]" placeholder="First name">
   <input type="text" name="user[last_name]" placeholder="Last name">
   <input type="text" name="user[username]" placeholder="Username">
   <input type="email" name="user[email]" placeholder="Email">
   <input type="password" name="form_password" placeholder="Password">
   <input type="password" name="password_confirmation" placeholder="Confirm Your Password">
   <input type="submit" name="register" value="Register">
</form>
